# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Windows newlines with a newline ending every file
[*]
end_of_line = crlf
insert_final_newline = true

# UE4 project file
[*.uproject]
indent_style = space
indent_size = 2

# Module target files
[*.cs]
indent_style = tab

# C++ source files
[{**.cpp,**.h}]
indent_style = tab
